.container {
  height: 100vh;
  position: relative;
}

.titleComponent {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 70%;
  max-width: 480px;
}

.inputBoxContainer {
  margin-top: 10px;
}

.research {
  font-size: 48px;
  text-align: center;
}
