.container {
  margin-top: 20px;
  width: 65%;
  margin-left: 110px;
}

.resultContainer {
  margin-top: 30px;
  min-height: 50px;
}

.resultTitle {
  color: blue;
}

.answer {
  font-weight: 600;
}

.para {
  margin-top: 5px;
}
